params {
    input = null
    genome = null
    annotation_gtf = null
    outdir = "results"
    trace_timestamp = new java.util.Date().format("yyyy-MM-dd_HH-mm-ss")
    rnaseq = false
    chromatin = false
    motifs = false
}


process {
    withLabel: small {
        cpus = 2
        memory = '8 GB'
    }
    withLabel: medium {
        cpus = 8
        memory = '32 GB'
    }
    withLabel: big {
        cpus = 16
        memory = '64 GB'
        scratch = 'ram-disk'
    }
    withLabel: huge {
        cpus = 32
        memory = '256 GB'
        scratch = 'ram-disk'
    }
}


profiles {
    standard {
        process.executor = "slurm"
        singularity {
            enabled = true
            autoMounts = true
            runOptions = "--bind /data/borth"
        }
    }

    local {
        process.executor = "local"
        singularity.enabled = true
        singularity.autoMounts = true
        process {
            withLabel: 'small|medium|big|huge' {
                cpus = 2
                memory = '8 GB'
            }
        }
    }

    analysis {
        process.executor = "local"
        conda.enabled = true
    }

    test {
        singularity.enabled = true
        singularity.autoMounts = true
        params {
            input = "./resources/samplesheet_testdata.csv"
            genome = "./data/testdata/genome.fasta.gz"
            annotation_gtf = "./data/testdata/genes.gtf.gz"
        }
        process {
            withLabel: 'small|medium|big|huge' {
                cpus = 2
                memory = '8 GB'
            }
        }
    }
}

report {
    enabled = true
    file = "results/pipeline_info/report-${params.trace_timestamp}.html"
}

dag {
    enabled = true
    file = "results/pipeline_info/dag-${params.trace_timestamp}.html"
}

timeline {
    enabled = true
    file = "results/pipeline_info/timeline-${params.trace_timestamp}.html"
}

trace {
    enabled = true
    file = "results/pipeline_info/trace-${params.trace_timestamp}.tsv"
}


manifest {
    name = "NBorthLab/nf-rnaseq"
    contributors = [
        [
            name: "Markus Riedl",
            affiliation: "BOKU University Vienna",
            email: "markus.riedl@boku.ac.at",
            github: "https://github.com/mriedl93",
            contribution: ["author"],
            orcid: "0000-0001-6599-4702",
        ]
    ]
    homePage = "https://github.com/NBorthLab/nf-rnaseq"
    defaultBranch = "main"
    version = "1.2.1"
    nextflowVersion = ">=25.04.4"
}
